.home {
    float:left;
}
.right {
    float:right;
}


#x_headerBlock {
    color: #FFFFFF;
    background: #434343; /* for non-css3 browsers /
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010101", endColorstr="#434343"); / for IE /
                            background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)); / for webkit browsers - colour values clanged by jackie*/
    background: -moz-linear-gradient(top, #000000, #000000); /* for firefox 3.6+ - colour values changed by jackie*/
    background-image: -o-linear-gradient(#000000, #000000); /* for Opera -colour values changed by jackie*/
}

